/*VARIAVEIS DE CORES*/
:root{
    --color1: rgb(6, 55, 95);
    --color2: rgb(0, 183, 255);
    --color3: rgb(51, 177, 170);
    --color4: rgb(22, 172, 199);
    --color5: rgb(4, 6, 43);
}

/*CORPO DA PÁGINA*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, var(--color3), var(--color5));
    display: flexbox;
}


/*CABEÇALHO*/
header{
    font-family: Kanit;
    background-color: var(--color1);
    color: white;
    display: flexbox;
    width: 100%;
    height: 170px;
    top: 0;
    left: 0;
    z-index: 1000;
}

#imgLogo{
    width: 100px;
    height: 100px;
    margin: 20px;
    margin-left: 50px;
    transition: all 0.4s ease-in-out;
    display: flexbox;
}

header p{
    font-size: 20px;
    width: 200px;
}

#titulo{
    font-size: 35px;
    padding: 5px;
    margin-top: -120px;
    margin-left: 190px;
    transition: all 0.4s ease-in-out;
}

#subtitulo{
    margin-top: -15px;
    text-align: start;
    margin-right: 50px;
    margin-left: 230px;
    width: 200px;
    transition: all 0.4s ease-in-out;
}

nav{
    width: 55%;
    margin-left: 450px;
    margin-top: -90px;
    display: inline-flex;
}

nav ul{
    list-style: none;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 80px;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 20px;
    padding-bottom: 5px;
}

nav ul li a:hover{
    color: aqua;
    border-bottom: 2px solid aqua;
}

#loginBtn{
    margin-left: -20px;
}

.botao{
    background-color: var(--color2);
    padding: 5px;
    border: 3px solid black;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.section-btn {
    background-color: var(--color2);
    border: 2px solid transparent;
    border-radius: 100px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 36px;
    margin-top: 70px;
    transition: all 0.4s ease-in-out;
}

.section-btn:hover {
    background: transparent;
    border-top-color: #ffffff;
    border-right-color: #222;
    border-bottom-color: #ffffff;
    border-left-color: #222;
    color: #ffffff;
}

#welcome-message{
    font-size: 17px;
    width: auto;
    max-width: 240px;
    height: 60px;
    padding: 2px;
    display: none;
    margin-left: 1620px;
    margin-top: -30px;
}

/* Estilos para a janela modal */
.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6); /* Fundo semitransparente */
    padding-top: 60px;
}

.modal-content1 {
    background-color: #ffffff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #004d40;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    position: relative;
}

.closeBtn {
    color: #004d40;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 10px;
}

.closeBtn:hover,
.closeBtn:focus {
    color: #00796b;
    text-decoration: none;
    cursor: pointer;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #004d40;
}

input {
    display: block;
    width: calc(100% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #004d40;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #004d40;
}

/* SLIDE SHOW */
#carrosel {
    margin-left: 22%;
    width: 1000px;
    height: 700px;
    margin-top: 20px;
    border: 1.5px solid black;
    border-radius: 15px;
    transition: opacity 1s ease-in-out; /* Transição suave */
    opacity: 0; /* Inicialmente invisível */
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
    left: 0;
    margin-left: 23.05rem;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot-container {
    text-align: center;
    padding: 10px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade-in {
    opacity: 1 !important; /* Visível */
}

.titulos{
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: Outfit;
}

#titulo-inicio{
    margin-top: 40px;
}

/* SOLUÇÃO PROBLEMA */

#sp{
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    margin:90px;
    border: 1.5px solid black;
    border-radius: 10px;
    height: 50%;
    color: white;
    font-family: Outfit;
}

.card{
    transition: transform 0.3s ease;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.02);
}

.container{
    line-height: 20px;
    display: inline-block;
}

.container :first-child{
    margin-bottom: 20px;
    text-align: center;
}

.titulos-secao{
    padding: 15px;
    font-size: 40px;
}

.container hr{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#h2sp{
    margin-top: 60px;
    margin-bottom: 40px;
}

.container-content{
    width: 56%;
    font-size: 22px;
    margin-top: -15px;
    line-height: 30px;
}

.imgcard{
    width: 650px;
    height: 500px;
}

.imgcard-container{
    width: 98%;
    text-align: end;
    margin-top: -30%;
    margin-right: 30px;
}

/*Tecnologias*/
#tec{
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    margin:90px;
    border: 1.5px solid black;
    border-radius: 10px;
    height: 50%;
    color: white;
    font-family: Outfit;
}

#imgtec{
    width: 650px;
    height: 450px;
    margin-top: 30px;
}

/*OBJETIVOS*/
#obj{
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    margin:90px;
    border: 1.5px solid black;
    border-radius: 10px;
    height: 50%;
    color: white;
    font-family: Outfit;
}

#imgobj{
    width: 650px;
    height: 450px;
    margin-top: 30px;
}

/*PÚBLICO-ALVO*/
#pa{
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    margin:90px;
    border: 1.5px solid black;
    border-radius: 10px;
    height: 50%;
    color: white;
    font-family: Outfit;
}

#imgpa{
    width: 650px;
    height: 450px;
    margin-top: 30px;
}

/*BENEFICIOS*/
#be{
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    margin:90px;
    border: 1.5px solid black;
    border-radius: 10px;
    height: 50%;
    color: white;
    font-family: Outfit;
}

#imgbe{
    width: 650px;
    height: 450px;
    margin-top: 30px;
}

/*FACILIDADES*/
#fa{
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    margin:90px;
    border: 1.5px solid black;
    border-radius: 10px;
    height: 50%;
    color: white;
    font-family: Outfit;
}

#imgfa{
    width: 650px;
    height: 450px;
    margin-top: 30px;
}

/*RODAPÉ*/
footer{
    background-color: #222;
    color: white;
    font-size: 20px;
    text-align: center;
    height: 80px;
    font-family: Outfit;
}

footer h5{
    padding: 30px;
}
