/*VARIAVEIS DE CORES*/
:root{
    --color1: rgb(6, 55, 95);
    --color2: rgb(0, 183, 255);
    --color3: rgb(51, 177, 170);
    --color4: rgb(22, 172, 199);
    --color5: rgb(4, 6, 43);
}

/*CORPO DA PÁGINA*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, var(--color3), var(--color5));
}


/*CABEÇALHO*/
header{
    font-family: Kanit;
    background-color: var(--color1);
    color: white;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

#imgLogo{
    width: 100px;
    height: 100px;
    margin: 20px;
    margin-left: 50px;
    transition: all 0.4s ease-in-out;
}

header p{
    font-size: 20px;
}

#titulo{
    font-size: 35px;
    padding: 5px;
    margin-top: 35px;
    transition: all 0.4s ease-in-out;
}

#subtitulo{
    margin-top: 85px;
    text-align: start;
    margin-right: 50px;
    margin-left: -150px;
    width: 270px;
    transition: all 0.4s ease-in-out;
}

nav{
    width: 80%;
}

nav ul{
    list-style: none;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 80px;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 20px;
    padding-bottom: 5px;
}

nav ul li a:hover{
    color: aqua;
    border-bottom: 2px solid aqua;
}

#login{
    margin-right: 90px;
    margin-top: 50px;
}

.botao{
    background-color: var(--color2);
    padding: 5px;
    border: 3px solid black;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.section-btn {
    background-color: var(--color2);
    border: 2px solid transparent;
    border-radius: 100px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 36px;
    margin-top: 26px;
    transition: all 0.4s ease-in-out;
}

.section-btn:hover {
    background: transparent;
    border-top-color: #ffffff;
    border-right-color: #222;
    border-bottom-color: #ffffff;
    border-left-color: #222;
    color: #ffffff;
}

/*SLIDE SHOW*/
#carrosel{
    margin-left: 22%;
    width: 1000px;
    height: 700px;
    margin-top: 20px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
    left: 0;
    margin-left: 23.05rem;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot-container {
    text-align: center;
    padding: 10px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.titulos{
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: Outfit;
}

#titulo-inicio{
    margin-top: 40px;
}

/* SOLUÇÃO PROBLEMA */

#sp{
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    margin:90px;
    border: 1.5px solid black;
    border-radius: 10px;
    height: 50%;
    color: white;
    font-family: Outfit;
}

.container{
    line-height: 20px;
    display: inline-block;
}

.container :first-child{
    margin-bottom: 20px;
    text-align: center;
}

.titulos-secao{
    padding: 15px;
    font-size: 40px;
}

.container hr{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#h2sp{
    margin-top: 60px;
    margin-bottom: 40px;
}

.container-content{
    width: 56%;
    font-size: 22px;
    margin-top: -15px;
    line-height: 30px;
}

.imgcard{
    width: 650px;
    height: 500px;
}

.imgcard-container{
    width: 98%;
    text-align: end;
    margin-top: -30%;
    margin-right: 30px;
}

/*Tecnologias*/
#tec{
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    margin:90px;
    border: 1.5px solid black;
    border-radius: 10px;
    height: 50%;
    color: white;
    font-family: Outfit;
}

#imgtec{
    width: 650px;
    height: 450px;
    margin-top: 30px;
}

/*OBJETIVOS*/



/*RODAPÉ*/
footer{
    background-color: #222;
    color: white;
    font-size: 20px;
    text-align: center;
    height: 80px;
    font-family: Outfit;
}

footer h5{
    padding: 30px;
}
